/*Greg's list*/
body{
	margin: 0;
	font-size: 0;
	font-family: sans-serif;
}
/*Top Navigation Bar*/
.nav-bar{
  height: 50px;
  width: 100%;
  background-color: LightGray;
  position:  fixed;
}
ul {
  list-style-type: none;
}
li.nav-bar {
  display: inline;
}
.right-nav {
  float: right;
  padding-right: 10px;
}
/*Search Bar*/
input{
	width: 200px;
	margin-top: 100px;
	margin-left: 100px;
}
/*Results Nav Bar*/
.results-nav{
	display: inline-block;
	border: 1px solid LightGray;
	margin-top: 30px;
	
}
.previous-page, .next-page{
	width: 80px;
}
.number-results{
	width: 160px;
}
.previous-page{
	margin-left: 100px;
}
li, p {
	font-size: 12px;
}
/*Job Listing Results*/
.listings{
	margin-left:60px;
	margin-top: 40px;
}